html, body {
    box-sizing: border-box;
    position: relative;
    font-family: 'Balsamiq Sans', cursive;
    background: #fb8c69;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    font-family: 'Balsamiq Sans', cursive;
}

a {
    text-decoration: none;
}